html {
  scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: Poppins;
    background-color: #151F2D;
    color: #98B1D5;
}

h1{
  color: #4B4B4B;
}
#mobileview{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  position: absolute;
  margin-top: -10%;
}
.mobilelogo{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: none;
}
@keyframes dash {
  from {
    stroke-dashoffset: 816;    
  }
  to {
    stroke-dashoffset: 0;    
  }
} 

iframe{
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

.map-image{
  cursor: pointer;
}

.title{
  color: black !important;
}
.contact-header{
  color: #98B1D5 !important;
}
.map-image{
  height: 200px !important;
}
#contact{
  margin-bottom: 10% !important;
}

@media screen and (max-device-width: 767px) {

  .logo{
    width: 110px;
    margin-left: 8.5px;
  }
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C293C;
    overflow-x: hidden;
  }

  .sidenav a {
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
    text-align: start;
  }
  li{
    list-style: none;
  }
  .sidenav a:hover{
    color: #F7B500 !important;
  }

  ul li.active a{
    color: #F7B500 !important;
  }
  ul{
    margin-left: -20px;
    margin-top: 8%;
  }
  li {
    overflow: hidden;
    position: relative;
    padding: 0 0 13px 10px;
    }
    li::before {
      content: '';
      position: absolute;
      left: 7px;
      top: 15px;
  
      height: 999px;
      border: 2px solid  #433F33;
      border-width: 2px 0 0 2px;
      }
      li:last-child::before {
        border-width: 2px 0 0;
        }
    li::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;

      border: 2px solid  #433F33;
      border-radius: 50%;
      }

  .btn{
    background-color: black;
    border-radius: 50px;
    width: 30px;
    font-size: 10px;
    border: 1px solid white;
  }
  .fa-circle-o{
    color: #F7B500;
    font-size: 10px;
  }
  .sidenav a:hover {
    color: #F7B500;
  }

  .main {
    margin-left: 150px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
  }


  
  .innerprev{
  position: absolute;
  margin-top: -50px;
  margin-left: -22.2%;

  }
  .innernext{
  border: 50px;
  margin-top: -50px;
  position: absolute;
  margin-left: -15%;

  }
  .prev{
    z-index: 9899;
    position: absolute;
    margin-left: 160px;
    margin-top: 13px;
  }
  .next{
    z-index: 989;
    position: absolute;
    margin-left: 210px;
    margin-top: 13px;
  }
.fa-arrow-left,.fa-arrow-right{
  color: #F7B500;
}

  img {
  width: 100%;
  }

  .siema {
    width: 100% !important;
  }


  .slide1-text{
  position: absolute;
  font-size: 15px;
  margin-top: 80px;
  margin-left: 140px;
  }

  /* this is whyus page */
  .whyus-section{
    max-width: 100%;
    margin: 0 auto;
  }
  .leftSvg{
    width: 300px;
  }
  .rightSvg{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 45%;
    margin-top: -250px;
  }


  /* this is client page */

  .client-header1{
    font-size: 20px;
    color: white;
  }
  .client-header2{
    font-size: 65px;
    letter-spacing: 13px;
    color: orange;
    font-weight: bold;
  }
  .client-header3{
    font-size: 12px;
    color: white;
  }
  .text-slider{
    height: 300px;
    color: white;
  }

  /* Our Team Page */
  .Team-cards{
    margin-top: 20px;
  }
  .card{
    width: 8rem !important;
    height: 10rem;
    background: #F7B500;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    display:inline-block;
  }
  .card-img-top{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
    border-radius: 10px;
  }
  .profile-img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -4.5rem;
    z-index: 999;
    position: relative;
    border: 3px solid white;
    
  }
  .title{
    font-size: 8px;
    margin-top: -50px;
  }

  /* this is contact page */

.map-image{
  height: 200px;
}


#contact{
  height: 100vh;
}
.contact-content{
  position: absolute;
  margin-top: 50px;
}
.map-image{
  width: 200px;
}
.col-md-4{
  width: 200px;
}
  .contact-header{
    font-size: 20px;
    color: #98B1D5 !important;
  }
  .row51{
    margin-top: 6%;
  }
  .contact-text{
    color: white;
    font-size: 10px;
    text-align: start;
    margin-top: 18%;
  }
  .phone-number{
    color: white;
    font-size: 12px;
    text-align: start;
  }
  .fa-map-marker,.fa-envelope-o,.fa-phone{
    color: orange;
    font-size: 15px;
    margin-right: 3%;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .col {
    float: left;
    width: 50%;
  }
  .textboxtop {
    border-bottom: 1px solid #666666;
    margin-bottom: 40px;
  }

  .textboxtop input {
    border: none;
    outline: none;
    background: #151F2D;
    width: 100%;
    color: white;
    font-size: 13px;
  }
  .textbox input{
    border: none;
    outline: none;
    background: #151F2D;
    color: white;
    width: 100%;
    font-size: 13px;
  }
  .textbox{
    border-bottom: 1px solid #666666;
    margin-bottom: 40px;
  }
  .contact-button{
    width: 10em !important;
    border-radius: 50px;
    border: none !important;
    color: black !important;
    background: #EBCB80 !important;
    margin: 0 auto;
    font-size: 15px;
  }
  .contact-text{
    font-size: 9.5px;
  }
  .Team-header{
    font-size: 20px !important;
  }
  .project-header{
    font-size: 20px;
    color: #98B1D5;
  }
}




@media screen and (min-width: 768px) {
    .logo{
      width: 150px;
      margin-left: 8.5px;
    }
    .sidenav {
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1C293C;
      overflow-x: hidden;
    }

    .sidenav a {
      padding: 0px 0px 0px 16px;
      text-decoration: none;
      font-size: 12px;
      color: white;
      display: block;
      text-align: start;
    }

    li{
      list-style: none;
    }
    .sidenav a:hover{
      color: #F7B500 !important;
    }

    ul li.active a{
      color: #F7B500 !important;
    }
  
    li {
      overflow: hidden;
      position: relative;
      padding: 0 0 10px 10px;
      }
      li::before {
        content: '';
        position: absolute;
        left: 7px;
        top: 15px;
    
        height: 999px;
        border: 2px solid  #433F33;
        border-width: 2px 0 0 2px;
        }
        li:last-child::before {
          border-width: 2px 0 0;
          }
      li::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 2px solid  #433F33;
        border-radius: 50%;
        }

    .btn{
      background-color: black;
      border-radius: 40px;
      width: 70px;
    }
    .fa-circle-o{
      color: white;
    }
    .sidenav a:hover {
      color: #f1f1f1;
    }

    .main {
      margin-left: 180px; /* Same as the width of the sidenav */
      font-size: 28px; /* Increased text to enable scrolling */
    }


    
    .innerprev{
    position: absolute;
    margin-top: -50px;
    margin-left: -22.2%;

    }
    .innernext{
    border: 50px;
    margin-top: -50px;
    position: absolute;
    margin-left: -15%;

    }
    .prev{
      z-index: 9899;
      position: absolute;
      margin-left: 80px;
      margin-top: 13px;
    }
    .next{
      z-index: 989;
      position: absolute;
      margin-left: 200px;
      margin-top: 13px;
    }

    .fa-arrow-left,.fa-arrow-right{
      color: #F7B500;
    }
    .btn{
      border: 1px solid white;
    }
    img {
    width: 100%;
    }

    .siema {
      width: 100% !important;

    }


    .slide1-text{
    position: absolute;
    font-size: 15px;
    margin-top: 80px;
    margin-left: 140px;
    }

    /* this is whyus page */
    .whyus-section{
      max-width: 100%;
      margin: 0 auto;
    }
    .leftSvg{
      width: 300px;
    }
    .rightSvg{
      position: absolute;
      width: 200px;
      height: 200px;
      margin-left: 45%;
      margin-top: -250px;
    }


    /* this is client page */
  
    .client-header1{
      font-size: 20px;
      color: white;
    }
    .client-header2{
      font-size: 65px;
      letter-spacing: 13px;
      color: orange;
      font-weight: bold;
    }
    .client-header3{
      font-size: 12px;
      color: white;
    }
    .text-slider{
      height: 300px;
      color: white;
    }

    /* Our Team Page */
  
    .Team-cards{
      margin-top: 20px;
    }
    .card{
      width: 8rem !important;
      height: 10rem;
      background: #F7B500;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 10px;
      display:inline-block;
    }
    .card-img-top{
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
      border-radius: 10px;
    }
    .profile-img{
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-top: -4.5rem;
      z-index: 999;
      position: relative;
      border: 3px solid white;
      
    }
    .title{
      font-size: 10px;
      margin-top: -50px;
    }

    /* this is contact page */
    .map-image{
      height: 300px;
    }
    #contact{
      height: 100vh;
    }
    .contact-content{
      margin-top: 25%;
      position: absolute;
    }
    .contact-header{
      font-size: 25px;
    }
    .row51{
      margin-top: 6%;
    }
    .contact-text{
      color: white;
      font-size: 10px;
      text-align: start;
    }
    .phone-number{
      color: white;
      font-size: 12px;
      text-align: start;
    }
    .fa-map-marker,.fa-envelope-o,.fa-phone{
      color: orange;
      font-size: 15px;
      margin-right: 3%;
    }

    .row::after {
      content: "";
      display: table;
      clear: both;
    }
    .col {
      float: left;
      width: 50%;
    }
    .textboxtop {
      border-bottom: 1px solid #666666;
      margin-bottom: 40px;
    }

    .textboxtop input {
      border: none;
      outline: none;
      background: #151F2D;
      width: 100%;
      color: white;
      font-size: 13px;
    }
    .textbox input{
      border: none;
      outline: none;
      background: #151F2D;
      color: white;
      width: 100%;
      font-size: 13px;
    }
    .textbox{
      border-bottom: 1px solid #666666;
      margin-bottom: 40px;
    }
    .contact-button{
      width: 10em !important;
      border-radius: 50px;
      border: none !important;
      color: black !important;
      background: #EBCB80 !important;
      margin: 0 auto;
      font-size: 15px;
    }
 
}



@media screen and (min-width: 992px) {
  .logo{
    width: 180px;
    margin-left: 5px;
  }
 .sidenav {
   height: 100%;
   width: 200px;
 }
 
 .sidenav a {
   font-size: 15px;
 }
 ul{
   margin-top: 20%;
 }
 li {
  overflow: hidden;
  position: relative;
  padding: 0 0 50px 10px;
  }
 .main {
  margin-left: 200px; 
  font-size: 28px;
}
.slide1-text{
  position: absolute;
  font-size: 20px;
  margin-top: 120px;
  margin-left: 200px;
  }
  .next{
    margin-left: 290px;
  }
  .prev{
    margin-left: 210px;
  }
  .innernext{
    margin-left: -17%;
  }
  /* this is whyus page */
  .leftSvg{
    width: 400px;
  }
  .rightSvg{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 45%;
    margin-top: -360px;
  }

  /* this is client page */
  #clients{
    margin-bottom: 10%;
  }
  .card{
    width: 10rem !important;
    height: 13rem;
  }
  .profile-img{
    width: 5rem;
    height: 5rem;
    margin-top: -6rem;
  }
  .title{
    font-size: 13px;
    margin-top: -40px;
  }
  /* this is contact page */
 
  .contact-text{
    font-size: 15px;
  }
  .textboxtop input {
    font-size: 15px;
  }
  .textbox input{
    font-size: 15px;
  }
}
@media screen and (min-width: 1024) {
  .logo{
    width: 200px;
    margin-left: 2.5px;
  }
 .sidenav {
   height: 100%;
   width: 210px;
 }
 
 .sidenav a {
   font-size: 16px;
 }
 .main {
  margin-left: 210px; 
  font-size: 28px; 
}
.slide1-text{
  position: absolute;
  font-size: 30px;
  margin-top: 130px;
  margin-left: 13%;
  }
  .next{
    margin-left: 30%;
  }
  .prev{
    margin-left: 23%;
  }
  .btn{
    background-color: black;
    border-radius: 50px;
    width: 80px;
  }



 .project-content{
   margin-top: 10% !important;
 }
 .project-header{
   color: #98B1D5;
 }
  .client-header1{
    font-size: 25px;
    color: white;
  }
  .client-header2{
    font-size: 65px;
    letter-spacing: 13px;
    color: orange;
    font-weight: bold;
    margin-left: 4%;
  }
  .client-header3{
    font-size: 20px;
    color: white;
    margin-left: 1%;
  }

  .card{
    width: 18rem !important;
    height: 26rem;
    margin-bottom: 30px;
    margin: 2rem;
  }
  .profile-img{
    width: 10rem;
    height: 10rem;
    margin-top: -7rem;
  }
  .title{
    font-size: 20px;
    margin-top: -5px;
  }
  
  /* this is contact page */
  .map-image{
    width: 100%;
    height: 450px;
  }
  .contact-content{
    margin-top: 8%;
  }
  .col {
    float: left;
    width: 100% !important;
  }
  .row41{
    width: 100%;
    max-width: 97%;
  }
.form-box{
  margin-top: 10%;
}
  .textboxtop {
    border-bottom: 1px solid #666666;
    margin-bottom: 40px;
  }

  .textboxtop input {
    border: none;
    outline: none;
    background: #151F2D;
    width: 100%;
    color: white;
    font-size: 25px;
  }
  .textbox input{
    border: none;
    outline: none;
    background: #151F2D;
    color: white;
    width: 100%;
    font-size: 25px;
  }
  .textbox{
    border-bottom: 1px solid #666666;
    margin-bottom: 40px;
    margin-left: 10px;

  }
  .contact-button{
    width: 10em !important;
    border-radius: 50px;
    border: none !important;
    color: black !important;
    background: #EBCB80 !important;
    margin: 0 auto;
    font-size: 32px;
  }
  .contact-text{
    font-size: 23px;
  }
  .address-text{
    margin-top: 40px;
    width: 100%;
    max-width: 98%;
  }
  .fa-map-marker,.fa-envelope-o,.fa-phone{
    font-size: 23px;
  }
  .phone-number{
    font-size: 23px;
  }
}

@media screen and (min-width: 1200px) {
  .logo{
    width: 200px;
    margin-left: 2.5px;
  }
 .sidenav {
   height: 100%;
   width: 210px;
 }
 
 .sidenav a {
   font-size: 16px;
 }
 .main {
  margin-left: 210px; 
  font-size: 28px; 
}
.slide1-text{
  position: absolute;
  font-size: 30px;
  margin-top: 130px;
  margin-left: 13%;
  }
  .next{
    margin-left: 30%;
  }
  .prev{
    margin-left: 23%;
  }
  .btn{
    background-color: black;
    border-radius: 50px;
    width: 80px;
  }


 .project-content{
   margin-top: 10% !important;
 }
 .project-header{
   color: #98B1D5;
 }
  .client-header1{
    font-size: 25px;
    color: white;
  }
  .client-header2{
    font-size: 65px;
    letter-spacing: 13px;
    color: orange;
    font-weight: bold;
    margin-left: 4%;
  }
  .client-header3{
    font-size: 20px;
    color: white;
    margin-left: 1%;
  }
/* this is whyus section */
.leftSvg{
  width: 500px;
}
.rightSvg{
  position: absolute;
  width: 400px;
  height: 400px;
  margin-left: 47%;
  margin-top: -450px;
}

  .card{
    width: 18rem !important;
    height: 26rem;
    margin-bottom: 30px;
    margin: 2rem;
  }
  .profile-img{
    width: 10rem;
    height: 10rem;
    margin-top: -7rem;
  }
  .title{
    font-size: 20px;
    margin-top: -5px;
  }
  
  /* this is contact page */
  .map-image{
    width: 100%;
    height: 450px;
  }
  .contact-content{
    margin-top: 8%;
  }
  .col {
    float: left;
    width: 100% !important;
  }
  .row41{
    width: 100%;
    max-width: 97%;
  }
.form-box{
  margin-top: 10%;
}
  .textboxtop {
    border-bottom: 1px solid #666666;
    margin-bottom: 40px;
  }

  .textboxtop input {
    border: none;
    outline: none;
    background: #151F2D;
    width: 100%;
    color: white;
    font-size: 25px;
  }
  .textbox input{
    border: none;
    outline: none;
    background: #151F2D;
    color: white;
    width: 100%;
    font-size: 25px;
  }
  .textbox{
    border-bottom: 1px solid #666666;
    margin-bottom: 40px;
    margin-left: 10px;

  }
  .contact-button{
    width: 10em !important;
    border-radius: 50px;
    border: none !important;
    color: black !important;
    background: #EBCB80 !important;
    margin: 0 auto;
    font-size: 32px;
  }
  .contact-text{
    font-size: 23px;
  }
  .address-text{
    margin-top: 40px;
    width: 100%;
    max-width: 98%;
  }
  .fa-map-marker,.fa-envelope-o,.fa-phone{
    font-size: 23px;
  }
  .phone-number{
    font-size: 23px;
  }
}
 
@media screen and (min-width: 1440px) {
  .leftSvg{
    width: 680px;
  }
  .rightSvg{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 52%;
    margin-top: -560px;
  }
  
 
}




/***********************************************************************************************************************/

 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
 
}

@media screen and (orientation:portrait) {
  .Full-page{
    display: none;

  }
#mobileview{
  display: block;
}
  .mobilelogo{
    display: block;
  }
  body{
    background: #b8dff0;
  }
}

@media screen and (orientation:landscape) {
.Full-page{
  display: block;
}
 
}
